/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define HYPER LC(LS(LG(LALT)))

#define DEFAULT 0
#define SYMBOLS 1
#define NAV 2
#define MAGIC 3
#define FACTORY_TEST 4

/ {
    behaviors {
        magic: magic_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MAGIC_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };

        hm_right_index: hm_right_index {
            compatible = "zmk,behavior-hold-tap";
            label = "HM_RIGHT_INDEX";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 15 22 23 24 25 26 27 34 35 36 37 38 39 46 47 48 49 50 51 52 53 54 64 65 66 67 68 69 70 71 55 56 57 72 73 74>;
            hold-trigger-on-release;
        };

        hm_left_index: hm_left_index {
            compatible = "zmk,behavior-hold-tap";
            label = "HM_LEFT_INDEX";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <5 6 7 8 9 16 17 18 19 20 21 28 29 30 31 32 33 40 41 42 43 44 45 55 56 57 58 59 60 61 62 63 72 73 74 75 76 77 78 79 52 53 54 69 70 71>;
            hold-trigger-on-release;
        };

        hm_right_middle: hm_right_middle {
            compatible = "zmk,behavior-hold-tap";
            label = "HM_RIGHT_MIDDLE";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <210>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 15 22 23 24 25 26 27 34 35 36 37 38 39 46 47 48 49 50 51 52 53 54 64 65 66 67 68 69 70 71 55 56 57 72 73 55 56 57 72 73 74>;
            hold-trigger-on-release;
        };

        hm_left_middle: hm_left_middle {
            compatible = "zmk,behavior-hold-tap";
            label = "HM_LEFT_MIDDLE";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <210>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <5 6 7 8 9 16 17 18 19 20 21 28 29 30 31 32 33 40 41 42 43 44 45 55 56 57 58 59 60 61 62 63 72 73 74 75 76 77 78 79 52 53 54 69 70 71>;
            hold-trigger-on-release;
        };

        hm_right_ring: hm_right_ring {
            compatible = "zmk,behavior-hold-tap";
            label = "HM_RIGHT_RING";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 15 22 23 24 25 26 27 34 35 36 37 38 39 46 47 48 49 50 51 52 53 54 64 65 66 67 68 69 70 71 55 56 57 72 73 74>;
            hold-trigger-on-release;
        };

        hm_left_ring: hm_left_ring {
            compatible = "zmk,behavior-hold-tap";
            label = "HM_LEFT_RING";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <5 6 7 8 9 16 17 18 19 20 21 28 29 30 31 32 33 40 41 42 43 44 45 55 56 57 58 59 60 61 62 63 72 73 74 75 76 77 78 79 52 53 54 69 70 71>;
            hold-trigger-on-release;
        };

        hm_right_pinky: hm_right_pinky {
            compatible = "zmk,behavior-hold-tap";
            label = "HM_RIGHT_PINKY";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <260>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 15 22 23 24 25 26 27 34 35 36 37 38 39 46 47 48 49 50 51 52 53 54 64 65 66 67 68 69 70 71 55 56 57 72 73 74>;
            hold-trigger-on-release;
        };

        hm_left_pinky: hm_left_pinky {
            compatible = "zmk,behavior-hold-tap";
            label = "HM_LEFT_PINKY";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <260>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <5 6 7 8 9 16 17 18 19 20 21 28 29 30 31 32 33 40 41 42 43 44 45 55 56 57 58 59 60 61 62 63 72 73 74 75 76 77 78 79 52 53 54 69 70 71>;
            hold-trigger-on-release;
        };

        nav_hold: nav_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "NAV_HOLD_TAP";
            bindings = <&mo>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
        };

        sym_hold: sym_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "SYM_HOLD_TAP";
            bindings = <&mo>, <&sl>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
        };

        hyper_combo_ht: hyper_combo_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HYPER_COMBO_HOLD_TAP";
            bindings = <&kp>, <&sticky_key_quick_release>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <300>;
            flavor = "tap-preferred";
        };

        backspace_or_delete: backspace_or_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "BACKSPACE_OR_DELETE";
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        sticky_key_quick_release: sticky_key_quick_release {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_KEY_QUICK_RELEASE";
            bindings = <&sk>;
            #binding-cells = <1>;
            quick-release;
            release-after-ms = <100>;
            ignore-modifiers;
        };
    };

    macros {
        rgb_ug_status_macro: rgb_ug_status_macro_0 {
            label = "RGB_UG_STATUS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_STATUS>;
        };

        bt_0: bt_profile_macro_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_left_shift {
            bindings = <&sticky_key_quick_release LEFT_SHIFT>;
            key-positions = <36 37>;
            layers = <DEFAULT SYMBOLS NAV>;
        };

        combo_right_shift {
            bindings = <&sticky_key_quick_release RIGHT_SHIFT>;
            key-positions = <42 43>;
            layers = <DEFAULT SYMBOLS NAV>;
        };

        combo_left_hyper {
            bindings = <&hyper_combo_ht HYPER HYPER>;
            key-positions = <37 38>;
            layers = <DEFAULT>;
            timeout-ms = <30>;
            require-prior-idle-ms = <120>;
            slow-release;
        };

        combo_right_hyper {
            bindings = <&hyper_combo_ht HYPER HYPER>;
            key-positions = <41 42>;
            layers = <DEFAULT>;
            timeout-ms = <30>;
            require-prior-idle-ms = <120>;
            slow-release;
        };

        combo_hyphen {
            bindings = <&kp MINUS>;
            key-positions = <60 61>;
            layers = <DEFAULT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC           &none                     &none         &none                                                                                     &none                     &none        &kp C_MUTE            &kp C_VOLUME_DOWN  &kp C_VOLUME_UP
&kp GRAVE             &kp NUMBER_1                   &kp NUMBER_2              &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                                             &kp NUMBER_6             &kp NUMBER_7  &kp NUMBER_8          &kp NUMBER_9       &kp NUMBER_0      &kp EQUAL
&kp ESC               &kp Q                          &kp W                     &kp E         &kp R         &kp T                                                    &kp Y                    &kp U         &kp I                 &kp O              &kp P             &kp BACKSLASH
&backspace_or_delete  &kp A                          &hm_left_ring LEFT_ALT S  &kp D         &hm_left_index LGUI F  &kp G                                                   &kp H                    &hm_right_index RIGHT_GUI J  &kp K  &hm_right_ring RIGHT_ALT L  &kp SEMICOLON  &kp APOSTROPHE
&kp TAB               &hm_left_pinky LEFT_CONTROL Z  &kp X                     &kp C         &kp V         &kp B  &kp LS(LA(LC(LG(SPACE))))  &kp RG(SPACE)  &none  &none  &none  &kp LA(SPACE)  &kp N  &kp M  &kp COMMA  &kp DOT  &hm_right_pinky RIGHT_CONTROL FSLH  &none
&magic MAGIC 0        &none                          &none                     &sl NAV       &kp LEFT_SHIFT                 &nav_hold NAV ENTER  &none  &kp LG(LEFT_SHIFT)  &kp RG(RIGHT_SHIFT)  &sym_hold SYMBOLS SYMBOLS  &nav_hold NAV SPACE           &kp RIGHT_SHIFT  &to SYMBOLS  &kp MINUS  &kp PLUS  &none
            >;
        };

        symbols_layer {
            bindings = <
&trans  &trans     &trans    &trans    &trans                                                                     &trans     &trans    &trans    &trans    &trans
&trans  &trans     &trans    &trans    &trans  &trans                                                     &trans     &trans    &trans    &trans    &trans    &trans
&trans  &kp EXCL   &kp AT    &kp HASH  &kp DLLR  &kp PRCNT                                             &kp CARET  &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR  &trans
&trans  &kp N1     &kp N2    &kp N3    &kp N4    &kp N5                                                &kp N6     &kp N7    &kp N8    &kp N9    &kp N0    &trans
&trans  &kp TILDE  &kp GRAVE &kp LBKT  &kp LBRC  &kp LPAR  &trans  &trans  &trans  &trans  &trans  &trans  &kp RPAR  &kp RBRC  &kp RBKT  &kp MINUS &kp EQUAL &trans
&trans  &trans     &trans    &trans    &trans                     &trans  &trans  &trans  &trans  &trans  &trans                  &trans     &to DEFAULT &trans    &trans    &trans
            >;
        };

        nav_layer {
            bindings = <
&trans  &trans     &trans      &trans      &trans                                                                                                             &trans     &trans     &trans       &trans        &trans
&trans  &trans     &trans      &trans      &trans      &trans                                                                           &trans     &trans     &trans       &trans        &trans        &trans
&trans  &trans     &trans      &trans      &trans      &trans                                                                           &trans     &kp RG(LEFT_BRACKET)  &kp RG(RS(TAB))  &kp RG(TAB)  &kp RG(RIGHT_BRACKET)  &trans
&trans  &caps_word &trans      &trans      &kp LG(LS(N4)) &trans                                                                        &kp LEFT   &kp DOWN  &kp UP       &kp RIGHT    &trans        &trans
&trans  &kp LG(Z)  &kp LG(X)   &kp LG(C)   &kp LG(V)   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp HOME  &kp PG_DN  &kp PG_UP  &kp END  &trans  &trans
&trans  &trans     &trans      &trans      &trans                     &trans  &trans  &trans  &trans  &trans  &trans                  &trans     &trans    &trans       &trans        &trans
            >;
        };

        magic_layer {
            bindings = <
&bt BT_CLR   &none            &none            &none            &none                                                                                     &none  &none  &none  &none  &bt BT_CLR_ALL
&none        &none            &none            &none            &none            &none                                                             &none  &none  &none  &none  &none  &none
&none        &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_TOG                                                   &none  &none  &none  &none  &none  &none
&bootloader  &rgb_ug RGB_SPD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF                                                   &none  &none  &none  &none  &none  &bootloader
&sys_reset   &none            &none            &none            &none            &none            &bt_2  &bt_3  &none         &none  &none  &none  &none  &none  &none  &none  &none  &sys_reset
&none        &none            &none            &none            &none                             &bt_0  &bt_1  &out OUT_USB  &none  &none  &none         &none  &none  &none  &none  &to FACTORY_TEST
            >;
        };

        factory_test_layer {
            bindings = <
&kp N0  &kp N6  &kp N2  &kp N8  &kp N4                                                                  &kp N4  &kp N8  &kp N2  &kp N6  &kp N0
&kp N1  &kp N7  &kp N3  &kp N9  &kp N5  &kp N0                                                  &kp N0  &kp N5  &kp N9  &kp N3  &kp N7  &kp N1
&kp N2  &kp N8  &kp N4  &kp N0  &kp N6  &kp N1                                                  &kp N1  &kp N6  &kp N0  &kp N4  &kp N8  &kp N2
&kp N3  &kp N9  &kp N5  &kp N1  &kp N7  &kp N2                                                  &kp N2  &kp N7  &kp N1  &kp N5  &kp N9  &kp N3
&kp N4  &kp N0  &kp N6  &kp N2  &kp N8  &kp N3  &kp N4  &kp N5  &kp N6  &kp N6  &kp N5  &kp N4  &kp N3  &kp N8  &kp N2  &kp N6  &kp N0  &kp N4
&kp N5  &kp N1  &kp N7  &kp N3  &kp N9          &kp N7  &kp N8  &kp N9  &kp N9  &kp N8  &kp N7          &kp N9  &kp N3  &kp N7  &kp N1  &to DEFAULT
            >;
        };
    };
};
